recursive-include pyliquiddsp *.py *.pyx *.pxd *.c *.h
graft liquid-dsp
exclude liquid-dsp/makefile liquid-dsp/config.h liquid-dsp/config.log liquid-dsp/config.status liquid-dsp/libliquid*
recursive-exclude liquid-dsp *.o
